html, body{
  margin: 0;
  padding:0;
}
body{
  background-image: url("picture/111.jpg");
  background-attachment:fixed;
  background-size: cover;
  font-weight: 400;
  font-family: "NotoSerifJP-Black", serif;
}
header{
  background-color: #262626;
  color:#FFFFFF;
  height:100px;
}
.title{
  font-size:40px;
  padding:20px 40px;
}

.container {
  position:relative; 
  margin: 0 auto;
  width: 100vw;
  
  background: #FFFFFF; /* white */
  border-radius: 4px; /* border-m */
  box-shadow: 0 0 10px 20px rgba(0,0,0,0.4);
  letter-spacing: 5px;
}
.box{
  height:620px;
  width:100vw;
  height: 100vh;
  background: #FFFFFF; 
  display: flex;
  align-items: center;
  
  margin-top: 400px;
  opacity: 0;
  transform: translateY(50px);
  transition:all 3.5s;
  
}

.h1{
  margin-top:0;
  padding-top: 20px;
  
}
.is-show{
  opacity: 1;
  transform: translateY(0);
}
.p, .t{
  position:absolute;
  transform:translateX(-50%)
}
.p{  
  width: 50%; 
  height: auto; 
  max-width: 100%;
  box-shadow: 0 0 5px 7px rgba(0,0,0,0.4);
  border-radius: 0px;
  left:30%;
}
.t{
  
  font-size: calc(100vw / 34); 
  width: 30%; 
  text-align:center;
  left:80%
}

@media(max-width:670px){
  .p{
    width:85%;
    height:auto;
    max-width: 100%;
    margin:0 auto;
    top: 7%;
    left:50%;
    
    }
  .t{
    width:75%;
    margin:0 auto;
    top: 60%;
    left: 50%;
    font-size:calc(100vw / 34)*1.5 ;
  }

}